@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200..900&display=swap');


*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
    /*font-family:'poppins', sans-serif ; */
}

section {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5s;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,rgba(28, 23, 44, 0.986),rgba(5, 20, 26, 0.2));
    mix-blend-mode: overlay;
}
.text {
    position: relative;
    z-index:10 ;
    margin-top: 40px;
}

.text h2 {
    font-size: 6em;
    font-weight: 800;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #fff;
}

.text a {
display: inline-block;
font-size: 1.9em;
background: #fff;
padding: 10px 30px;
text-decoration: none;
font-weight: 500;
margin-top: 10px;
color: #111;
}

.sci {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
     display: inline-block;
     margin-right: 20px;
     filter: invert(1);
     transform: scale(0.5);
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('./Image/menu2.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
@media(max-width: 991px){
    section{
    padding: 40px;
    }
    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
}
